<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="FireGento_WebapiMetrics::menu" title="FireGento Menu">
                    <resource id="FireGento_WebapiMetrics::items" title="FireGento Menu Items" />
                    <resource id="FireGento_WebapiMetrics::webapi_metrics" title="FireGento Webapi Metrics" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
